:root{
  --yellow: hsl(47 88% 63%);
  --white: hsl(0 0% 100%);
  --gray: hsl(0 0% 42%);
  --bg: hsl(0 0% 7%);
  
}

*{box-sizing:border-box}

html,body{
    height:100%;
    margin:0
}

body{
  font-family: 'Figtree', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:var(--yellow);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:48px 24px 96px; 
}  

.wrapper{
  width:100%;
  max-width:328px;
  position:relative;
}

.wrapper::after{
  content:'';
  position:absolute;
  right:-6px;
  bottom:-8px;
  width:100%;
  height:100%;
  background:var(--bg);
  border-radius:18px;
  z-index:1;
} 

.card{
  position:relative;
  z-index:2;
  background:var(--white);
  border-radius:16px;
  overflow:hidden;
  border:2px solid var(--bg);
  box-shadow:0 6px 18px rgba(7,10,41,0.08);
  transition:transform .18s ease, box-shadow .18s ease;
}

.card:hover, .card:focus-within{
  transform:translateY(-6px);
  box-shadow:0 30px 40px rgba(7,10,41,0.3);
}

.card-illustration{
  width:91%;
  height:180px;
  margin: 15px 15px 0px 15px;
  display:block;
  object-fit:cover;
  border-radius: 5%;

}

.card-content{
    padding:22px;
}
 

.meta{
    margin-bottom:2px;
}

.category{
    display:inline-block;
    background:var(--yellow);
    color:var(--bg);
    padding:8px 12px;
    border-radius:8px;
    font-weight:800;
    font-size:13px};

.title{
    font-size:28px;
    margin:12px 0 8px;
    font-weight:800;
    color:var(--bg);
    transition: color .18s ease;
    cursor: pointer;
    outline: none;
}

.title:hover,
.title:focus,
.title:active,
.title.is-active {
    color: var(--yellow);
}

.description{
    color:var(--gray);
    font-size:16px;
    line-height:1.5;
    margin:0;
    
}

.author{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:16px;
}

.avatar{
    width:40px;
    height:40px;
    border-radius:50%;
}

.attribution {
    position:fixed;
    left:0;
    right:0;
    bottom:24px;
    text-align:center;
    font-size:11px;
    color:var(--bg);
    z-index:3;
    margin:0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media(min-width:768px){
  .wrapper{max-width:360px}
  .wrapper::after{right:-12px;bottom:-14px;border-radius:20px}
  .card{display:block;max-width:360px}
  .card-illustration{height:220px}
  .card-content{padding:28px}
  .title{font-size:26px}
}